.d-f {
  display: flex;
}
.g-3 {
  gap: 3px;
}
// blue elemental #7BD3EA
.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  // background: radial-gradient(#7BD3EA);
  width: 20vw;

  height: 80%;
  // background: radial-gradient(ellipse at top, #7bd3ea, transparent);
  // border: 1px solid;
  // border-radius: 20px;

  // border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  // border-image: radial-gradient(top at 100% 100%, #7bd3ea);
  // border-
}
.card-character {
  width: 90%;
  margin: 5%;
  height: 40%;
  img {
    width: 100%;
    height: 100%;
  }
}
.card-contents {
  height: 100%;
  text-align: center;
}
.card-element {
  position: absolute;
}
.card-header {
  padding: 3px;
  min-height: 52px;
}
.card-name {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 24px;
}
.card-job-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 35%;
  align-items: center;
  .card-job {
    width: 5vw;
  }
}
// radial-gradient(farthest-side at -15% -14% , #7bd3ea, transparent)
