$elemental-water: #7bd3ea;
$elemental-fire: #ff4545;
$card-container-min-width: 380px;
$card-container-min-height: 660px;
.d-f {
  display: flex;
}
.g-3 {
  gap: 3px;
}
// blue elemental #7BD3EA
.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 15px 15px 20px $elemental-water, 15px 15px 0 5px $elemental-water;
  &.water {
    box-shadow: 15px 15px 20px $elemental-water, 15px 15px 0 5px $elemental-water;
  }
  &.fire {
    box-shadow: 15px 15px 20px $elemental-fire, 15px 15px 0 5px $elemental-fire;
  }

  // background: radial-gradient(#7BD3EA);
  width: 20vw;
  min-width: $card-container-min-width;
  min-height: $card-container-min-height;
  height: 80%;
  // background: radial-gradient(ellipse at top, #7bd3ea, transparent);
  // border: 1px solid;
  // border-radius: 20px;

  // border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  // border-image: radial-gradient(top at 100% 100%, #7bd3ea);
  // border-
}
.card-character {
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  height: 40%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #b0babf;
  }
}
.card-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.card-element {
  position: absolute;
}
.card-header {
  padding: 3px;
  min-height: 52px;
}
.card-name {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 24px;
}
.card-job-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 10%;
  align-items: center;
  gap: 10px;
  .card-job {
    display: flex;
    align-items: center;
    padding: 3px;
    flex-grow: 1;
    // border: 1px solid #b0babf;
    border-radius: 10px;
    span {
      display: inline-block;
      height: 100%;
    }
  }
}
// radial-gradient(farthest-side at -15% -14% , #7bd3ea, transparent)

.card-container {
  position: relative;
  backface-visibility: hidden;

  transition: all 0.5s;
  transform-style: preserve-3d;
  // &.card {
  &.disable {
    transform: rotateY(180deg);
  }
  // }
  & .info {
    transform: rotateY(180deg);

    &.show {
      transform: rotateY(0deg);
    }
  }
}
